# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS clutter
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data (not in repo)
data/spam.csv
data/*.csv
